DEBUG=0

# DATABASE. Project use MySQL
DB_HOST=your host DB
DB_PORT=port DB
DB_USER=name user DB
DB_PASSWORD=password DB
DB_NAME=name DB

# TELEGRAM SCRAPER. That only for scraper telegram advs (you can avoide write it, web-site will be work)
TELEGRAM_TOKEN=Bot Token
TELEGRAM_POSTER_TOKEN=Personal Token
ADMIN_CHAT_ID=chat id
TG_API_HASH=tg hash
TG_API_ID=tg id

SECREPT_CODE_GPT=Code for AI GPT filter avoid it too

EMAIL_HOST_USER=email
EMAIL_HOST_PASSWORD=email password for auto sending messeges

STRIPE_PUBLIC_KEY=stripe public key
STRIPE_SECRET_KEY=stripe secret key :)
TG_SESSION_PATH=session path
STRIPE_WEBHOOK_SECRET=webhook secret

SECRET_KEY=and favorite secret Django Key